<h1>Test81b</h1>
<hr />

<h2>Crear Usuario</h2>
<table>
  <tr>
    <td>Nombre</td>
    <td></td>
  </tr>
</table>


<br />
<h2>Usuarios</h2>

<table>
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Genero</th>
      <th>Cedula</th>
      <th>Fecha de Nacimiento</th>
      <th>Departamento</th>
      <th>Cargo</th>
      <th>Supervisor Inmediato</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.nombres }}</td>
      <td>{{ user.apellidos }}</td>
      <td>{{ user.genero }}</td>
      <td>{{ user.cedula }}</td>
      <td>{{ user.fechaNacimiento }}</td>
      <td>{{ user.departamento.nombre }}</td>
      <td>{{ user.cargo }}</td>
      <td>{{ user.supervisorInmediato }}</td>
    </tr>
  </tbody>
</table>

